<html>
	<head>
		<title>Hangman!</title>
		<meta name="description" content="Hangman Game used to learn how to code with AngularJS.">
		<meta name="keywords" content="AngularJS, JavaScript, Hangman, Games, Daniel, Kass, Daniel Kass">
		<meta name="author" content="Daniel Kass">
		
		<!-- JQuery Lastest compiled and minified JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<!-- Angular Latest compiled and minified JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
		<!-- BootStrap Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
		<!-- Bootstrap Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<!-- Used for UI-Router -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
		
		
		<!-- Local JS and CSS -->
		<script src="app.js"></script>
		<script src="words.js"></script>
		<link rel="stylesheet" href="style.css" />
		
	</head>
	<body ng-app="hangman">
		<div class="container-fluid">
			<div class="row">
				<div class="header col-xs-12">
					<div class="col-xs-3 navbar-left nav">
						<h3><a href="http://dan-kass.com">Dan's Site</a></h3>
					</div>
					<h1 class="text-center col-xs-6">Hangman the Game! </h1> 
				</div>
				<ui-view></ui-view>	
				<div class="footer col-xs-12 text-center hidden-xs">
					<span>&copy; COPYRIGHT 2016 All Rights Reserved Daniel Kass</span>
				</div>
			</div>	
		</div>
		
		<script type="text/ng-template" id="/start.html">
			<div class="text-center">
				<br />
				<h2>Welcome to my hangman game!</h2>
				<h2>I created this game to improve my web app skills and understading of AngularJS.</h2>
				<h2>I hope you enjoy</h2>
				<br />
				<a class="btn btn-lg btn-success" href="#/game">Start Game!</a>
			</div>
		</script>
		
		<script type="text/ng-template" id="/lose.html">
		<div class="text-center">
			<br />
			<h2>I&#39;m sorry you loose.</h2>
			<img src="img/lose.png">
			<h2>The word was {{word}}</h2>
			<br />
			<a class="btn btn-lg btn-success" href="#/game">Play Again!</a>
		</div>
		</script>
		
		<script type="text/ng-template" id="/win.html">
		<div class="text-center">
			<br />
			<h2>You Win!!</h2>
			<img src="img/win.png">
			<h2>The word was {{word}}</h2>
			<br />
			<a class="btn btn-lg btn-success" href="#/game">Play Again!</a>
		</div>
		</script>
		
		<script type="text/ng-template" id="/game.html">
			<!-- Hanging Area -->
			<div class="col-xs-12 col-md-4 text-center">
				<img src="img/{{guessLeft}}.png">
			</div>
			
			<!-- Letter Guessing Area -->
			<div class="col-xs-12 col-md-4 col-md-offset-4 text-center">
				
				<span class="letter" ng-repeat="letter in Alphabet" ng-click="select(letter)">
					<img ng-hide="letter.checked" src="img/{{letter.letter}}.png">
					<img ng-show="letter.checked" src="img/blank.png">
					<br ng-if="($index+1)%4==0">
				</span>
			</div>
			
			<!-- Word Area -->
			<div class="col-xs-12 text-center guessWord">
				<span ng-repeat="char in word"> 
					<span ng-hide="char.found">_</span>
					<span ng-show="char.found">{{char.let}}</span>							
				</span>
				<br/>
				<button class="btn btn-lg btn-success" ng-click="reset()">New Game</button>
			</div>
		</script>
	</body>
</html>